NODE_ENV=development
PORT=4000
# Must point to a replica set (Atlas does by default) so transactions work
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster-host>/medstore?retryWrites=true&w=majority
LOG_LEVEL=info
# Number of reverse-proxy hops in front of the app; 0 locally
TRUST_PROXY=0
